 # Data Acquisition
  ## Overview
    
    "All data is at the daily level, represented as a volume weighted average.  Data is acquired all the way back to 2011, the longest period to obtain a reasonably complete dataset.  \n",
  \
    "The sections below will constitute a data dictionary for the columns utilized in this inquiry.\n",
   
 ## US Equity Indices,
  
    Given the importance of equity markets to the health of the overall economy, as well as the media's obsession with their movements, daily time-series of the following were included:
    
   - SP500: [SPX S&P 500 Index](https://us.spindices.com/indices/equity/sp-500) of large-cap US equities\n",
   - NASDAQCOM: [Nasdaq Composite Index](http://money.cnn.com/data/markets/nasdaq/) of large-cap US equities\n",
    DJIA: [Dow Jones Industrial Average](https://quotes.wsj.com/index/DJIA) of US equities\n",
   - RU2000PR: [Russell 2000 Price Index](https://fred.stlouisfed.org/series/RU2000PR) of US equities\n",

 The `pandas_datareader.data` and `quandl` APIs were used to acquire this information.

 ## Traditional Currencies\n

The [St. Louis Federal Reserve's FRED API](https://fred.stlouisfed.org/) was accessed using the [`pandas_datareader.data`](https://pandas-datareader.readthedocs.io/en/latest/) API to gather currency exchange rates of the US Dollar against the Japanese Yen, the Euro, the Chinese Yuan, the Mexican Peso, and the Australian Dollar
    
 "- DEXCHUS: [Chinese Yuan to USD](https://fred.stlouisfed.org/series/DEXCHUS)\n",
 "- DEXJPUS: [Japanese Yen to USD](https://fred.stlouisfed.org/series/DEXJPUS)\n",
 - DEXUSEU: [USD to European Union's Euro](https://fred.stlouisfed.org/series/DEXUSEU)\n",
 "- DEXMXUS: [Mexican New Pesos to USD](https://fred.stlouisfed.org/series/DEXMXUS)\n",
 "- DEXUSAL: [USD to Australian Dollar](https://fred.stlouisfed.org/series/DEXUSAL)\n",
    
 ## Debt Market Indicators
    
A ladder of bond market indicators are represented in the data in LIBOR rates at various maturities.  Specifically, LIBOR is included at overnight, 1-month, 3-month and 12-month maturities.  To (very crudely) represent the consumer and the corporate markets we also included indices representing high yield returns and prime corporate debt returns.
  
 - USDONTD156N: [Overnight London Interbank Offered Rate (LIBOR](https://fred.stlouisfed.org/series/USDONTD156N) based on USD\n",
 - USD1MTD156N: [One Month London Interbank Offered Rate (LIBOR](https://fred.stlouisfed.org/series/USD1MTD156N) based on USD\n",
- USD3MTD156N: [Three Month London Interbank Offered Rate (LIBOR](https://fred.stlouisfed.org/series/USD3MTD156N) based on USD\n",
- USD12MD156N: [Twelve Month London Interbank Offered Rate (LIBOR](https://fred.stlouisfed.org/series/USD12MD156N) based on USD\n",
- BAMLHYH0A0HYM2TRIV: [ICE BofAML US High Yield Total Return Index Value](https://fred.stlouisfed.org/series/BAMLHYH0A0HYM2TRIV)\n",
- BAMLCC0A1AAATRIV: [ICE BofAML US Corp AAA Total Return Index Value](https://fred.stlouisfed.org/series/BAMLCC0A1AAATRIV)
    These series were also acquired from the St. Louis Fed's FRED API.
  
 ## Commodity Prices\n",
  
 We chose to include series that represent the oil market and the gold market, two assets that are not strongly tied to the others mentioned.
    
- GOLDAMGBD228NLBM: [Gold Fixing Price 10:30 AM (London Time) in London Bullion Market, based on  USD](https://fred.stlouisfed.org/series/GOLDAMGBD228NLBM)
  - DCOILWTICO: [West Texas Intermediate (WTI) - Cushing Oklahoma (https://fred.stlouisfed.org/series/DCOILWTICO)

  "These series were also acquired from the St. Louis Fed's FRED API.
    
  ## Energy-Related Series
    "To ensure we are getting signal from the energy sector data on natural gas and energy sector volatility is gathered.  This data is alos acquired form teh St. Louis Fed's FRED API.
    "\n",
    "- MHHNGSP: [Henry Hub Natural Gas Spot Price](https://fred.stlouisfed.org/series/MHHNGSP)\n",
    "- VXXLECLS: [CBOE Energy Sector ETF Volatility Index](https://fred.stlouisfed.org/series/VXXLECLS)\n",
    "\n",
    "## Call FRED API \n",
    "\n",
    "Below a simple function `get_fred_data` is defined to call the Saint Louis Fed's FRED API via pandas_datareader.  "

In [135]:
import pandas as pd
import pandas_datareader.data as web
import quandl
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_columns', 999)
pd.set_option('max_rows', 99999)

from fredapi import Fred

In [136]:

series_list = ['SP500', 'NASDAQCOM', 'DJIA','BOGMBASEW', 'DEXJPUS', 'DEXUSEU', 'DEXCHUS', 'DEXUSAL','VIXCLS','USDONTD156N', 
               'USD1MTD156N', 'USD3MTD156N', 'USD12MD156N',
    'BAMLHYH0A0HYM2TRIV', 'BAMLCC0A1AAATRIV','GOLDAMGBD228NLBM', 
    'DCOILWTICO','MHHNGSP','VXXLECLS'] # cboe energy sector etf volatility
start = datetime(2015, 1, 1)
end = datetime.now()
    
def get_fred_data(series_list, start, end):
        fred_df = pd.DataFrame()
        for i, series in enumerate(series_list):
            print('Calling FRED API for Series:  {}'.format(series)),
            if i == 0:
                fred_df = web.get_data_fred(series, start, end)
            else:
                _df = web.get_data_fred(series, start, end)
                fred_df = fred_df.join(_df, how='outer')
        return fred_df

econ_df = get_fred_data(series_list, start, end)
econ_df.head()

Calling FRED API for Series:  SP500
Calling FRED API for Series:  NASDAQCOM
Calling FRED API for Series:  DJIA
Calling FRED API for Series:  BOGMBASEW
Calling FRED API for Series:  DEXJPUS
Calling FRED API for Series:  DEXUSEU
Calling FRED API for Series:  DEXCHUS
Calling FRED API for Series:  DEXUSAL
Calling FRED API for Series:  VIXCLS
Calling FRED API for Series:  USDONTD156N
Calling FRED API for Series:  USD1MTD156N
Calling FRED API for Series:  USD3MTD156N
Calling FRED API for Series:  USD12MD156N
Calling FRED API for Series:  BAMLHYH0A0HYM2TRIV
Calling FRED API for Series:  BAMLCC0A1AAATRIV
Calling FRED API for Series:  GOLDAMGBD228NLBM
Calling FRED API for Series:  DCOILWTICO
Calling FRED API for Series:  MHHNGSP
Calling FRED API for Series:  VXXLECLS

,SP500,NASDAQCOM,DJIA,BOGMBASEW,DEXJPUS,DEXUSEU,DEXCHUS,DEXUSAL,VIXCLS,USDONTD156N,USD1MTD156N,USD3MTD156N,USD12MD156N,BAMLHYH0A0HYM2TRIV,BAMLCC0A1AAATRIV,GOLDAMGBD228NLBM,DCOILWTICO,MHHNGSP,VXXLECLS
DATE,,,,,,,,,,,,,,,,,,,
2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.99,NaN
2015-01-02,2058.20,4726.81,17832.99,NaN,120.20,1.2015,6.2046,0.8118,17.79,0.1126,0.16750,0.2556,0.6328,1048.41,573.03,1184.25,52.72,NaN,29.81
2015-01-05,2020.58,4652.57,17501.65,NaN,119.64,1.1918,6.2201,0.8095,19.92,0.1164,0.16800,0.2536,0.6338,1045.61,576.54,1192.00,50.05,NaN,32.37
2015-01-06,2002.61,4592.74,17371.64,NaN,118.26,1.1936,6.2125,0.8118,21.12,0.1187,0.16775,0.2511,0.6283,1042.00,580.14,1211.00,47.98,NaN,33.31
2015-01-07,2025.90,4650.47,17584.52,3929023.0,119.52,1.1820,6.2127,0.8049,19.31,0.1189,0.16650,0.2521,0.6273,1045.07,580.31,1213.75,48.69,NaN,32.05

In [137]:
import numpy as np
def generate_calendar(year, drop_index=False):
    from pandas.tseries.offsets import YearEnd
    from pandas.tseries.holiday import USFederalHolidayCalendar
    start_date = pd.to_datetime('1/1/'+str(year))
    end_date = start_date + YearEnd()
    DAT = pd.date_range(str(start_date), str(end_date), freq='D')
    MO = [d.strftime('%B') for d in DAT]
    holidays = USFederalHolidayCalendar().holidays(start=start_date, end=end_date)

    cal_df = pd.DataFrame({'date':DAT, 'month':MO})
    cal_df['year'] = [format(d, '%Y') for d in DAT]
    cal_df['weekday'] = [format(d, '%A') for d in DAT]
    cal_df['is_weekday'] = cal_df.weekday.isin(['Monday','Tuesday','Wednesday','Thursday','Friday'])
    cal_df['is_weekday'] = cal_df['is_weekday'].astype(int)
    cal_df['is_holiday'] = cal_df['date'].isin(holidays)
    cal_df['is_holiday'] = cal_df['is_holiday'].astype(int)
    cal_df['is_holiday_week'] = cal_df.is_holiday.rolling(window=7,center=True,min_periods=1).sum()
    cal_df['is_holiday_week'] = cal_df['is_holiday_week'].astype(int)
    
    if not drop_index: cal_df.set_index('date', inplace=True)
    
    return cal_df
    
def make_calendars(year_list, drop_index):
    cal_df = pd.DataFrame()
    for year in year_list:
        cal_df = cal_df.append(generate_calendar(year, drop_index=drop_index))
    return cal_df
    
year_list = [str(int(i)) for i in np.arange(2015, 2020)]
cal_df = make_calendars(year_list, drop_index=False)
cal_df.head()

              month  year   weekday  is_weekday  is_holiday  is_holiday_week
date
2015-01-01  January  2015  Thursday           1           1                1
2015-01-02  January  2015    Friday           1           0                1
2015-01-03  January  2015  Saturday           0           0                1
2015-01-04  January  2015    Sunday           0           0                1
2015-01-05  January  2015    Monday           1           0                0

In [138]:
econ_df = econ_df.join(cal_df, how='outer')
econ_df = econ_df.fillna(method='bfill')
econ_df = econ_df.fillna(method='ffill')

In [139]:
from datetime import datetime as dt
#drop future records introduced from the calendar function
before_future = pd.to_datetime(econ_df.index.values) <= dt.now()
econ_df = econ_df.loc[before_future]

In [140]:
econ_df = pd.get_dummies(econ_df,
                         columns=['month', 'year', 'weekday'],
                         drop_first=True)

In [141]:
econ_df.columns = [str.lower(s) for s in econ_df.columns]
print(econ_df.columns.tolist())

['sp500', 'nasdaqcom', 'djia', 'bogmbasew', 'dexjpus', 'dexuseu', 'dexchus', 'dexusal', 'vixcls', 'usdontd156n', 'usd1mtd156n', 'usd3mtd156n', 'usd12md156n', 'bamlhyh0a0hym2triv', 'bamlcc0a1aaatriv', 'goldamgbd228nlbm', 'dcoilwtico', 'mhhngsp', 'vxxlecls', 'is_weekday', 'is_holiday', 'is_holiday_week', 'month_august', 'month_december', 'month_february', 'month_january', 'month_july', 'month_june', 'month_march', 'month_may', 'month_november', 'month_october', 'month_september', 'year_2016', 'year_2017', 'year_2018', 'year_2019', 'weekday_monday', 'weekday_saturday', 'weekday_sunday', 'weekday_thursday', 'weekday_tuesday', 'weekday_wednesday']

In [142]:
# Save original data to a dictionary
data = dict()
data['original'] = econ_df
econ_df.to_csv('econ_df.csv')

# Feature Engineering
   
Two methods were undertaken to reduce the noise and spread the signal thruogh time in the data.  Rather than using the raw price data we do the following:
   
- Melt the data such that only three columns exist: `date`, `variable`, and `value`.
- Perform a split-apply-combine by grouping the data by `variable`, calculate a percent change, then calculate a rolling `window` mean of the percent change
    "- Spread the data back to its original shape, using the rolling `window` percent change as the new features
   
This technique is an attempt to be more sensitive to changes in a given market as opposed to the actual value at any given time.  Taking a rolling mean also spreads out any market movements that may be anomalous such that they are more in the ballpark.

 ## Melt `econ_df` on `date` Column
 To simplify plotting and facility the split-apply-combine operation the `econ_df` is melted on the `date` column.  "

In [143]:
econ_df_melt = econ_df.copy()
econ_df_melt.reset_index(inplace=True)
econ_df_melt.rename(columns={'index': 'date'}, inplace=True)
econ_df_melt = econ_df_melt.melt('date')
econ_df_melt.head()

        date variable    value
0 2015-01-01    sp500  2058.20
1 2015-01-02    sp500  2058.20
2 2015-01-03    sp500  2020.58
3 2015-01-04    sp500  2020.58
4 2015-01-05    sp500  2020.58

## Split-Apply-Combine을 수행하여 형상 계산
"Below we define the `window`, then split `econ_df_melt` on the `variable` column (which contains the names of the original columns).  The list of `onehot_cols` are not subject to this calculation since they are binary "

In [144]:
onehot_cols = ['is_weekday', 'is_holiday', 'is_holiday_week', 'month_august', 'month_december',
            'month_february', 'month_january', 'month_july',
                   'month_june', 'month_march',
                  'month_may', 'month_november', 'month_october',
                  'month_september', 'year_2011', 
                 'year_2012', 'year_2013', 'year_2014', 'year_2015', 
              'year_2016', 'year_2017', 
                  'year_2018', 'weekday_monday', 'weekday_saturday', 
               'weekday_sunday', 'weekday_thursday','weekday_tuesday', 'weekday_wednesday']
    
window = 30 #rolling avg
smooth_df = pd.DataFrame()
for name, df in econ_df_melt.groupby('variable'):
    if name not in onehot_cols:
        colname = 'rolling_'+str(window)+'_mean'
        df['pct_change'] = df['value'].pct_change()
        df[colname] = df['pct_change'].rolling(window=window).mean()
    else:
                df[colname] = df['value']
                smooth_df = smooth_df.append(df)
                smooth_df.head()

In [145]:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

from mpl_toolkits.axes_grid1 import make_axes_locatable
import seaborn as sns

years = mdates.YearLocator()   # every year
months = mdates.MonthLocator()  # every month
yearsFmt = mdates.DateFormatter('%Y')

def plot_tseries_over_group_with_histograms(df, xcol,
                                            ycol,grpcol,title_prepend='{}',
                                            labs=None, x_angle=0, labelpad=60, window=15, ignore_cols=[]):
    #Function for plotting time series df[ycol] over datetime range df[xcol]
    #df: pd.DataFrame containing datetime and series to plot
    #- xcol: str of column name in df for datetime series
    #- ycol: str of column name in df for tseries
    #- grpcol: str of column name in df of group over which to plot
    #- labs: dict of xlab, ylab
    # - title_prepend: str containing \"{}\" that prepends group names in title
    #  - window: int for calculating rolling means of each series
    # - ignore_cols: list of column names not to plot
    
    unique_grp_vals = df[grpcol].unique()
    nrows = len(unique_grp_vals) - len(ignore_cols)
    figsize = (13, 6 * nrows)
    fig, axes = plt.subplots(nrows, 1, figsize=figsize)
    title_prepend_hist = 'Histogram of ' + str(title_prepend)
    j = 0
    for i, grp in enumerate(unique_grp_vals):
        _df = df.loc[df[grpcol] == grp]
        if grp not in ignore_cols:
                 _df = df.loc[df[grpcol] == grp]
        try:
                    ax = axes[j]
                    ax.plot(_df[xcol], _df[ycol], alpha=.2, color='black')
                    ax.plot(_df[xcol], _df[ycol].rolling(window=window, min_periods=min(5, window)).mean(),alpha=.5, color='r', label='{} period rolling avg'.format(window),linestyle='--')
                    longer_window = int(window * 3)
                    ax.plot(_df[xcol], _df[ycol].rolling(window=longer_window, min_periods=5).mean(),alpha=.8, color='darkred', label='{} period rolling avg'.format(longer_window),linewidth=2),
                    mu, sigma = _df[ycol].mean(), _df[ycol].std()
                    ax.axhline(mu, linestyle='--', color='r', alpha=.3)
                    ax.axhline(mu - sigma, linestyle='-.', color='y', alpha=.3)
                    ax.axhline(mu + sigma, linestyle='-.', color='y', alpha=.3)
                    ax.set_title(title_prepend.format(grp))
                    ax.legend(loc='best')
                    bottom, top = mu - 3*sigma, mu + 3*sigma
                    ax.set_ylim((bottom, top))
                    if labs is not None:
                        ax.set_xlabel(labs['xlab'])
                        ax.set_ylabel(labs['ylab'])
                        ax.xaxis.labelpad = labelpad
                        ax.xaxis.set_minor_locator(months)
                        ax.grid(alpha=.1)
                    if x_angle != 0:
                        for tick in ax.get_xticklabels():
                            tick.set_rotation(x_angle)
    
                    divider = make_axes_locatable(ax)
                    axHisty = divider.append_axes('right', 1.2, pad=0.1, sharey=ax)
                    axHisty.grid(alpha=.1)
                    axHisty.hist(_df[ycol].dropna(), orientation='horizontal', alpha=.5, color='lightgreen', bins=25)
                    axHisty.axhline(mu, linestyle='--', color='r', label='mu', alpha=.3)
                    axHisty.axhline(mu - sigma, linestyle='-.', color='y', label='+/- two sigma', alpha=.3)
                    axHisty.axhline(mu + sigma, linestyle='-.', color='y', alpha=.3)
                    axHisty.legend(loc='best')
    
                    j += 1
        except IndexError:
                        pass
        else: 
                        pass
                
        sns.set_style("whitegrid")
        sns.despine()
    
        title_prepend = 'Time Series for {}'
        xcol = 'date'
        ycol = colname # from the rolling mean of pct change
        grpcol = 'variable'
        labs = dict(xlab='',ylab=str(window)+' Day Rolling Mean of Daily Percent Change')
    
        plot_tseries_over_group_with_histograms(smooth_df,
                                            xcol, ycol, grpcol,
                                            title_prepend, labs,
                                            x_angle=90,
                                            ignore_cols=onehot_cols,
                                            window=50)
        plt.show()

In [146]:
    smooth_df = smooth_df.pivot(index='date',
                            columns='variable', 
                            values=colname)
    smooth_df.dropna(inplace=True)

    smooth_df.head()

variable,is_holiday,is_holiday_week,is_weekday,month_august,month_december,month_february,month_january,month_july,month_june,month_march,month_may,month_november,month_october,month_september,weekday_monday,weekday_saturday,weekday_sunday,weekday_thursday,weekday_tuesday,weekday_wednesday,year_2016,year_2017,year_2018
date,,,,,,,,,,,,,,,,,,,,,,,
2015-01-01,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2015-01-02,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-03,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-04,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-05,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [161]:
viz_cols = ['bamlcc0a1aaatriv', 'bamlhyh0a0hym2triv', 'bogmbasew', 
            'dcoilwtico','dexchus', 'dexjpus', 'dexusal', 'dexuseu', 'djia', 
            'goldamgbd228nlbm', 'mhhngsp', 'nasdaqcom', 'sp500', 'usd12md156n', 
            'usd1mtd156n','usd3mtd156n', 'usdontd156n', 'vixcls', 'vxxlecls']
  
def correlation_heatmap(df, cutoff=None, title=''):
        df_corr = df.corr('pearson')
        np.fill_diagonal(df_corr.values, 0)
        if cutoff != None:
            for col in df_corr.columns:
                df_corr.loc[df_corr[col].abs() <= cutoff, col] = 0
        fig, ax = plt.subplots(figsize=(20, 15))
        sns.heatmap(df_corr, ax=ax, cmap='RdBu_r')
        plt.suptitle(title, size=18)
        plt.show()
        return df_corr
cutoff = .3

In [172]:
y_col = 'dcoilwtico'
  
     #map the values to the corresponding dates 
    # in the moving averages dataset\n",
y_dict = econ_df[y_col].to_dict()
smooth_df[y_col] = smooth_df.index.values
smooth_df[y_col] = smooth_df[y_col].map(y_dict)
   
    # shift back -window so we are predicting +window in future\n",
smooth_df[y_col] = smooth_df[y_col].shift(-window)
smooth_df.dropna(inplace=True)
    
# write to disk \n",
fname = './data/smooth_df_'+str(window)+'_mean.csv'
smooth_df.to_csv(fname)
data['smooth_df'] = smooth_df
smooth_df.head()

FileNotFoundError: [Errno 2] No such file or directory: './data/smooth_df_30_mean.csv'

In [ ]:
fred = Fred(api_key= '7da0b3b06d3293541808e737b9ce9add')
data = fred.get_series('DCOILWTICO')